
:host .slds-modal__close {
    position: relative;
}


:host .slds-modal__container .slds-modal__close,
:host .slds-modal__close {
    position: absolute !important;
    top: 0.5rem !important;
    right: 0.5rem !important;
    z-index: 10001 !important; 
    pointer-events: auto !important;
    transform: none !important;
}

