:host {
    display: block;
}

.spinner-container {
    min-height: 650px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 700px;
}

.host {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

.muted {
    color: #555;
    margin-top: 10px;
}