:host {
    display: block;
}

.spinner-container {
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-body {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.muted {
    color: #555;
    margin: 0;
    flex: 1;
}

.success {
    color: #0070d2;
}
